#members{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.member{
    background-color: $dark;
    border: 3px solid #cccccc;
    margin: 2rem 0;
    width: 50%;
    display: flex;

    &__img{
        height: 100px;
        width: 100px;
        border-radius: 25px;
        object-fit: cover;
        object-position: 25% 0;
    }

    &__img, &__name, &__bio, &__social{
        margin: .4rem;
    }

    &__link{
        display: inline-block;
        color: plum;
    }

    & > *{
        margin: 0.75rem;
    }
}

@media only screen and (max-width: $large){
    .member{
        width: 75%;
    }
}

@media only screen and (max-width: $medium){
    .member{
        width: 90%;
    }
}