#members{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    flex-wrap: wrap;
    width: 65%;
}

.member{
    background-color: $dark;
    border: 3px solid #cccccc;
    margin: 2%;
    display: flex;
    text-decoration: none;
    width: 45%;
    transition: all 0.5s ease;

    &__img{
        height: 100px;
        width: 100px;
        border-radius: 25px;
        object-fit: cover;
        object-position: 25% 0;
    }

    &__icon{
        display: none;
        height: 45px;
        width: 45px;
        border-radius: 12px;
        object-fit: cover;
        object-position: 25% 0;
        position: absolute;
        top: .5rem;
        right: .5rem;
    }

    &__img, &__name, &__role, &__social{
        margin: .4rem;
    }

    &__link{
        display: inline-block;
        color: plum;
    }

    & > *{
        margin: 0.75rem;
    }
}

@media only screen and (max-width: $large){
    .member{
        width: 75%;
    }
}

@media only screen and (max-width: $medium){
    .member{
        width: 90%;

        &__img{
            display: none;
        }

        &__icon{
            display: inline;
        }
    }
}