//Blog index page
#blogs{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    width: 65%;
}

.blog{
    background-color: $dark;
    border: 3px solid #cccccc;
    margin: 2%;
    display: block;
    text-decoration: none;
    width: 45%;
    transition: all 0.5s ease;

    &:hover{
        background-color: $light;
        color: $dark;
        border-color: $medDark;
        transform: translate(7px, -7px);

        
        .blog__title, .blog__date, .blog__description{
            color: $dark;
        }
    }

    & > *{
        margin: 0.75rem;
    }

    &__header{
        display: flex;
        justify-content: space-between;
        margin-top: 0;
    }

    &__title{}

    &__description{}
}

//Individual posts
#post{
    border: 3px solid $light;
    margin: 2rem 0;
    padding: 2rem;
    width: 50%;
    background-color: $dark;
    display: block;

    &__back{
        padding: 0.75%;
        margin: 0;
    }

    &__title{
        margin-top: 0;
        font-size: 1.75rem;
        text-align: center;
    }

    &__content{
        text-indent: 3rem;

        p{
            font-family: "Montserrat";
            font-size: 1.1rem;
        }
    }

    &__signature, &__date{
        text-align: right;
    }
}