@font-face{
    font-family: mother;
    src: url(../fonts/earthbound-beginnings.ttf);
}
@font-face{
    font-family: dogicapixel;
    src: url(../fonts/dogicapixel.ttf);
}

*{
    font-family: "Montserrat";
    font-size: 1.1rem;
    line-height: 125%;
    color: $light;
}

*::selection{
    // background-color: #BBA4E5;
    background-color: $light;
    color: $dark;
}

html, body{
    background-color: $dark;
    height: 100%;
    margin: 0;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    background-attachment: fixed;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container > *{
    margin: 1% 0;
}


.btn{
    display: inline-block;
    border: 1px solid $light;
    margin: 0 2rem;
    padding: 1rem;
    transition: all 0.5s ease;
    text-decoration: none;
    background-color: $dark;
    cursor: pointer;

    i{
        transition: all 0.5s ease;
    }

    &--spin{
        &:hover{
            transform: translate(7px, -7px) rotate(360deg) !important;
        }
    }
}

.btn:hover{
    background-color: $light;
    color: $dark;
    transform: translate(7px, -7px);
    border-color: $medDark;

    i{
        color: $dark;
    }
}
    
.btn--active{
    background-color: $light;
    color: $dark;
}

.img--lightbackground{
    background-color: $light;
}

.fnt--montserrat{
    font-family: "Montserrat";
    font-size: 1.1rem;
    line-height: 125%;
}

.fnt--pxl{
    font-family: dogicapixel;
    line-height: 150%;
}

@media only screen and (max-width: $medium){
    html, body{
        background-size: 50%;
    }

    .container{
        margin: 0 5%;
    }

    .btn{
        margin: 0.5rem;
    }
}