@font-face {
  font-family: mother;
  src: url(../fonts/earthbound-beginnings.ttf);
}
@font-face {
  font-family: dogicapixel;
  src: url(../fonts/dogicapixel.ttf);
}
* {
  font-family: "Montserrat";
  font-size: 1.1rem;
  line-height: 125%;
  color: #cccccc;
}

*::-moz-selection {
  background-color: #cccccc;
  color: #333333;
}

*::selection {
  background-color: #cccccc;
  color: #333333;
}

html, body {
  background-color: #333333;
  height: 100%;
  margin: 0;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  background-attachment: fixed;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container > * {
  margin: 1% 0;
}

.btn {
  display: inline-block;
  border: 1px solid #cccccc;
  margin: 0 2rem;
  padding: 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
  background-color: #333333;
  cursor: pointer;
}
.btn i {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn--spin:hover {
  -webkit-transform: translate(7px, -7px) rotate(360deg) !important;
          transform: translate(7px, -7px) rotate(360deg) !important;
}
.btn--spin:active {
  background-color: #333333 !important;
  color: #cccccc;
  -webkit-transform: translate(0px, 0px) rotate(360deg) !important;
          transform: translate(0px, 0px) rotate(360deg) !important;
}

.btn:hover {
  background-color: #cccccc;
  color: #333333;
  -webkit-transform: translate(7px, -7px);
          transform: translate(7px, -7px);
  border-color: #666666;
}
.btn:hover i {
  color: #333333;
}

.btn--active {
  background-color: #cccccc;
  color: #333333;
}

.img--lightbackground {
  background-color: #cccccc;
}

.fnt--montserrat {
  font-family: "Montserrat";
  font-size: 1.1rem;
  line-height: 125%;
}

.fnt--pxl {
  font-family: dogicapixel;
  line-height: 150%;
}

@media only screen and (max-width: 779px) {
  html, body {
    background-size: 50%;
  }
  .container {
    margin: 0 5%;
  }
  .btn {
    margin: 0.5rem;
  }
}
iframe {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav {
  padding-bottom: 2rem;
}

#nav__blog {
  display: none;
}

.container--center {
  height: 100%;
}

#header__greeting {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.body--animate {
  background-color: initial;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container--animate {
  position: relative;
}

.content {
  position: relative;
  z-index: 100;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  padding: 0;
  margin: 0;
}

#games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
}

.game {
  border: 3px solid #cccccc;
  margin: 1% 0;
  width: 65%;
}
.game__title, .game__description, .game__link {
  margin: 0;
}
.game__year {
  font-size: 0.7em;
}
.game__link {
  display: inline-block;
  color: plum;
}
.game > * {
  padding: 0.75rem;
}
.game--hookshot {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/hookshot.png");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hookshot.png");
  background-position: center;
}
.game--envirometal {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/envirometal.png");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/envirometal.png");
  background-position: center;
}
.game--invisiheist {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/invisiheist.png");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/invisiheist.png");
  background-position: center;
}
.game--cowball {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/cowball.png");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/cowball.png");
  background-position: center;
}
.game--papuru {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/papuru.png");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/papuru.png");
  background-position: center;
}
.game--aguidetolife {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/aguidetolife.png");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/aguidetolife.png");
  background-position: center;
}

@media only screen and (max-width: 992px) {
  .game {
    width: 75%;
  }
}
@media only screen and (max-width: 779px) {
  .game {
    width: 90%;
  }
}
#members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 65%;
}

.member {
  background-color: #333333;
  border: 3px solid #cccccc;
  margin: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  width: 45%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}
.member__img {
  height: 100px;
  width: 100px;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 25% 0;
     object-position: 25% 0;
}
.member__icon {
  display: none;
  height: 45px;
  width: 45px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 25% 0;
     object-position: 25% 0;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.member__img, .member__name, .member__role, .member__social {
  margin: 0.4rem;
}
.member__link {
  display: inline-block;
  color: plum;
}
.member > * {
  margin: 0.75rem;
}

@media only screen and (max-width: 992px) {
  .member {
    width: 75%;
  }
}
@media only screen and (max-width: 779px) {
  .member {
    width: 90%;
  }
  .member__img {
    display: none;
  }
  .member__icon {
    display: inline;
  }
}
#blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  width: 65%;
}

.blog {
  background-color: #333333;
  border: 3px solid #cccccc;
  margin: 2%;
  display: block;
  text-decoration: none;
  width: 45%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blog:hover {
  background-color: #cccccc;
  color: #333333;
  border-color: #666666;
  -webkit-transform: translate(7px, -7px);
          transform: translate(7px, -7px);
}
.blog:hover .blog__title, .blog:hover .blog__date, .blog:hover .blog__description {
  color: #333333;
}
.blog > * {
  margin: 0.75rem;
}
.blog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
}
#post {
  border: 3px solid #cccccc;
  margin: 2rem 0;
  padding: 2rem;
  width: 50%;
  background-color: #333333;
  display: block;
}
#post__back {
  padding: 0.75%;
  margin: 0;
}
#post__title {
  margin-top: 0;
  font-size: 1.75rem;
  text-align: center;
}
#post__content {
  text-indent: 3rem;
}
#post__content p {
  font-family: "Montserrat";
  font-size: 1.1rem;
}
#post__signature, #post__date {
  text-align: right;
}

.title--404 {
  font-size: 4rem;
  text-align: center;
}

.sub--404 {
  text-align: center;
}

#video--404 {
  width: 100%;
  aspect-ratio: 1.8/1;
}