@font-face {
  font-family: mother;
  src: url(../fonts/earthbound-beginnings.ttf);
}
@font-face {
  font-family: dogicapixel;
  src: url(../fonts/dogicapixel.ttf);
}
* {
  font-family: dogicapixel;
  color: #cccccc;
  line-height: 150%;
}

html, body {
  background-color: #333333;
  height: 100%;
  margin: 0;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  background-attachment: fixed;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container > div {
  margin: 2rem 0;
}

.btn {
  display: inline-block;
  border: 1px solid #cccccc;
  margin: 0 2rem;
  padding: 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}

.btn:hover {
  background-color: #cccccc;
  color: #333333;
  -webkit-transform: translate(7px, -7px);
          transform: translate(7px, -7px);
}

.btn--active {
  background-color: #cccccc;
  color: #333333;
}

.container--center {
  height: 100%;
}

#games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
}

.game {
  border: 3px solid #cccccc;
  margin: 2rem 0;
  width: 50%;
}
.game__title, .game__description, .game__link {
  margin: 0;
}
.game__year {
  font-size: 0.7em;
}
.game__link {
  display: inline-block;
  color: plum;
}
.game > * {
  padding: 0.75rem;
}
.game--hookshot {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/hookshot.png");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hookshot.png");
  background-position: center;
}
.game--envirometal {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/envirometal.png");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/envirometal.png");
  background-position: center;
}
.game--invisiheist {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/invisiheist.png");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/invisiheist.png");
  background-position: center;
}
.game--cowball {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/cowball.png");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/cowball.png");
  background-position: center;
}
.game--papuru {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/papuru.png");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/papuru.png");
  background-position: center;
}
.game--aguidetolife {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/aguidetolife.png");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/aguidetolife.png");
  background-position: center;
}

#members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
}

.member {
  border: 3px solid #cccccc;
  margin: 2rem 0;
  width: 50%;
}
.member__name, .member__bio, .member__social {
  margin: 0;
}
.member__link {
  display: inline-block;
  color: plum;
}
.member > * {
  padding: 0.75rem;
}